/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Inter', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

/* ----------------------------HEADER------------------------- */

.header-inside {
  display: flex;
  margin: 90px 120px 25px;
}

.header-logo {
  margin-right: 380px;
}

.header-theme {
  margin-right: 200px;
  margin-left: 50px;
  display: flex;
}

.theme-dark {
  margin-bottom: 5px;
}

.nav-item {
  margin-right: 35px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12.9431px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.85);
  text-decoration: none;
}

.nav-item:hover {
  text-decoration: underline;
  color: #0c86f5;
}

.btnSingUp {
  width: 95px;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  background: #0c86f5;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12.9431px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.95);
}

.btnSingUp:hover {
  background: #d0f4fd;
  color: #0c86f5;
}

/* ---------------------------MAIN----------------------------- */

.main {
  background-image: url(../img/Hero.png);
  background-position: center;
  background-size: cover;
}

.main-inside {
  background: linear-gradient(
    69.49deg,
    #fafdff 35.13%,
    rgba(250, 253, 255, 0) 69.5%
  );
}

.main-title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 63.9252px;
  line-height: 85px;
  color: #202020;
}

.main-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #202020;
}

.main-suptitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #202020;
}

.main-text {
  padding-left: 120px;
  padding-top: 180px;
  padding-bottom: 200px;
}

/* -------------------------INFO-1------------------------------- */

.info-1 {
  background: linear-gradient(
    1.81deg,
    rgba(250, 253, 255, 0) -6.98%,
    #e7eaec 121.28%
  );
  mix-blend-mode: normal;
}

.info-1-inside {
  align-items: center;
  text-align: center;
  /*margin-top: 35px;*/
  margin-bottom: 50px;
}

.info1-IMG {
  margin-top: 35px;
}

.info1-TITLE {
  margin-top: 10px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 49px;
  text-align: center;
  color: #000000;
}

.info1-SUBTITLE {
  margin-top: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20.3334px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

/* -------------------------INFO-2----------------------------- */

.info-2 {
  background-position: center;
  background-size: cover;
  align-items: center;
  text-align: center;
  background-image: url(../img/BaseStation.png);
}

.info-2-inside {
  background: radial-gradient(
      44.96% 109.84% at 49.52% -7.7%,
      rgba(254, 254, 254, 0) 9.15%,
      rgba(253, 253, 253, 0.04) 52.58%,
      rgba(249, 249, 249, 0.34) 73.27%,
      #f5f5f5 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  padding-top: 410px;
  padding-bottom: 60px;
}

.info2-TITLE {
  margin-top: 10px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 49px;
  text-align: center;
  color: #000000;
}

.info2-SUBTITLE {
  margin-top: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20.3334px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

/* -------------------------INFO-3----------------------------- */

.info-3 {
  background-position: center;
  background-size: cover;
  background-image: url(../img/BottleAnimation.png);
}

.info-3-inside {
  z-index: 111;
  padding-top: 350px;
  padding-bottom: 60px;
  background: radial-gradient(
    57.57% 57.57% at 50% 17.04%,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 95%
  );
}

.info3-TITLE {
  margin-top: 10px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 49px;
  text-align: center;
  color: #000000;
}

.info3-SUBTITLE {
  margin-top: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20.3334px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

/* -----------------------FUTURED------------------------ */

.futured {
  background: rgba(0, 0, 0, 0.06);
}

.futured-inside {
  align-items: center;
  text-align: center;
}

.futured-images {
  text-align: center;
  padding-left: 150px;
  padding-bottom: 120px;
}

.futured-title {
  padding-top: 120px;
  padding-bottom: 25px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 37px;
  line-height: 49px;
  color: #000000;
}

.futured-images {
  display: flex;
}

/* -------------------SINGUP----------------------- */

.singUp {
  background: rgba(0, 0, 0, 0.04);
}

.singUp-titles {
  text-align: center;
  align-items: center;
}

.singUp-email {
  margin-top: 35px;
  margin-left: 415px;
}

.singUp-name {
  margin-top: 35px;
  margin-left: 415px;
}

.singUp-title {
  padding-top: 130px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 37px;
  line-height: 49px;
  text-align: center;
  color: #000000;
}

.singUp-subtitle {
  padding-top: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20.3334px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.input-text {
  margin-top: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17.3204px;
  line-height: 21px;
  color: #626262;
}

.input {
  margin-top: 10px;
  width: 600px;
  height: 50px;
  border: none;
  background: #d9d9d9;
  padding-left: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17.3204px;
  line-height: 21px;
  color: rgba(98, 98, 98, 0.3);
}

.input-singUp-btn {
  margin-top: 30px;
  margin-left: 920px;
  padding-bottom: 66px;
}

/* ----------------------FOOTER------------------------ */

.footer {
  background: rgba(0, 0, 0, 0.88);
}

.footer-inside {
  padding-bottom: 130px;
  padding-top: 130px;
  padding-left: 130px;
  display: flex;
}

.footer-logo {
  padding-top: 20px;
}

.footer-social {
  margin-left: 100px;
}

.social-link {
  display: flex;
}

.link-inside {
  margin-left: 35px;
}

.link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #d9d9d9;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  color: #0c86f5;
}

.social-title {
  margin-left: 35px;
  margin-bottom: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #d9d9d9;
}

.adress-title {
  margin-bottom: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #d9d9d9;
}

.adress-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #d9d9d9;
}

.footer-adress {
  margin-left: 150px;
}
